.slide-section.info
    h2 Информация
    div
        article
            h3 С&nbsp;1&nbsp;сентября до&nbsp;31&nbsp;октября
            p Открыт набор учеников в&nbsp;группы бойцовского клуба ШТУРМ
            p
                small Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. 
        aside
            form
                div
                    input(
                        type='text'
                        placeholder='Имя*'
                        required
                    )
                    input(
                        type='text'
                        placeholder='Телефон*'
                        required
                    )
                    input(
                        type='text'
                        placeholder='E-Mail*'
                        required
                    )
                    input(
                        type='text'
                        placeholder='Возраст*'
                        required
                    )
                p
                    small Поля отмеченые&nbsp;* обязательны к&nbsp;заполнению
                div
                    input(
                        type='checkbox'
                        required
                    )
                    label
                        p Нажимая на&nbsp;кнопку, вы&nbsp;даете согласие на&nbsp;обработку своих персональных данных
                        p
                            a Политика конфиденциальности