#slide1.slide(data-anchor="form")
	.slide-section.info-2.info-2_deco

		div.info-2__body.info-2__body_columed

			article.info-2__article
				h3 с&nbsp;3&nbsp;ноября открыт набор в&nbsp;Бойцовский клуб СЭНЭ Штурм 

				div
					//- p
					//- 	small Оставьте заявку, используя данную форму или по&nbsp;тел: 
					//- 		include ../../../parts/phone
					p С вами свяжется наш сотрудник и подберет оптимальное время посещения&nbsp;клуба.
						
					p Как проходит отбор:
						ul
							li проверка физических параметров
							li индивидуальная беседа с&nbsp;тренером

					p Стоимость месячного абонемента 4&nbsp;000&nbsp;руб <br>2&nbsp;занятия в&nbsp;неделю по&nbsp;2,5&nbsp;часа 

			aside.info-2__aside
				form#main-form.glass-form(action="/", method="get")
					div
						fieldset.glass-form__main-fieldset
							input(
								type='text'
								name='name'
								id='name'
								placeholder='Имя *'
								required
							)
							input(
								type='text'
								name='phone'
								id='phone'
								placeholder='Телефон *'
								required
							)
							input(
								type='text'
								name='email'
								id='email'
								placeholder='E-Mail *'
								required
							)
							input(
								type='text'
								name='age'
								id='age'
								placeholder='Возраст *'
								required
							)
						p.glass-form__note
							//- small поля отмеченые&nbsp;<b>*</b> обязательны к&nbsp;заполнению
							small <b>*</b>&nbsp;обязательные поля

					.form-actions
						.checkbox-container
							label(for='legal').checkbox
								input(
									type='checkbox'
									id='legal'
									required
								)
							.legal
								label(for='legal')
									p согласен на&nbsp;обработку своих персональных данных
								p
									a(href='/') Политика конфиденциальности
						div
							input.btn(
								type='button'
								value='Записаться'
							)
